@import "../../styles/variables.scss";

.loaderBg {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: $primary-color;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;

  div {
    position: absolute;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;

    &.ring {
      border-width: 0.8rem;
      border-style: solid;
      border-color: transparent;
      animation: fancy 2s infinite alternate;
      
      &:nth-child(1) {
        border-left-color: $inverse-color;
        border-right-color: $inverse-color;
      }
      &:nth-child(2) {
        border-top-color: $accent-color;
        border-bottom-color: $accent-color;
        animation-delay: 1s;
      }
    }

    &.dot {
      width: 1rem;
      height: 1rem;
      background: $accent-color;
      animation: dotcolor 3s infinite alternate;
    }
  }
  @keyframes fancy {
    to {
      transform: rotate(360deg) scale(0.5);
    }
  }
  @keyframes dotcolor {
    to {
      background: $inverse-color;
    }
  }
}


