@import "../../styles/variables.scss";


.btnGroup {
  background: $primary-color;
  border: 1px solid #f07171;
  box-sizing: border-box;
  border-radius: 25px;
  width: 310px;
  height: 30px;
  position: relative;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(2, auto);
  margin-bottom: 30px;

  .btnTab {
    height: 100%;
    min-width: 101%;
    padding: 0px 10px;
    white-space: nowrap;
    color: $text-color;
    z-index: 100;
    min-height: 100%;
    position: relative;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.165px;
  }

  .activeNavBtn {
    color: $primary-color;
    transition: color ease-in-out 0.3s;
  }

  .backColor {
    background-color: $inverse-color;
    min-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    transition: 0.3s ease-in-out;
    border-radius: 25px;
  }
}
