@import "../../../styles/variables.scss";

.whySection {
  height: 100%;
  display: grid;
  display: -ms-grid;
  grid-template-rows: auto 1fr;
  grid-gap: 48px;
  justify-items: center;
  background: $primary-color;
}

.whySectionTitle {
  color: $accent-color;
  font-weight: bold;
  font-size: 48px;
  line-height: 22px;
}

.whySectionTitle span {
  color: $inverse-color;
}

.whySectionContent {
  display: grid;
  display: -ms-grid;
  width: 100%;
  justify-content: space-between;
  grid-template-columns: repeat(3, auto);
  margin-bottom: 37px;
}

@media (max-width: 1270px) {
  .whySectionContent {
    grid-gap: 73px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 1100px) {
  .whySectionContent {
    grid-gap: 3px;
  }
}

@media (max-width: 900px) {
}

@media (max-width: 600px) {
  .whySectionTitle {
    font-size: 36px;
  }

  .whySectionContent {
    grid-gap: 73px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 350px) {
  .whySectionTitle {
    font-size: 28px;
  }
}

// стили телефона

.phone {
  display: grid;
  display: -ms-grid;
  grid-template-rows: auto 1fr;
  grid-gap: 25px;
  justify-items: center;
}

.phone h2 {
  color: $accent-color;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.phone img {
  height: 504px;
}

.phone h2 span {
  color: $inverse-color;
}

@media (max-width: 1100px) {
  .phone {
    padding: 10px 0;
  }
}

@media (max-width: 600px) {
  .phone h2 {
    font-size: 22px;
  }
}

@media (max-width: 350px) {
  .phone h2 {
    font-size: 16px;
  }

  .phone img {
    height: 400px;
  }
}
