@import "../../../styles/variables.scss";

.addExpPage {
  background: $background-color;
  min-height: 100vh;
  padding: 51px 0px;
}

.addExpContent {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;

  .gridCont {
    grid-column-start: 2;
    align-content: center;
    justify-items: center;
  }

  .gridCont2 {
    align-content: center;
    justify-items: center;
  }

  .saveBtn {
    width: 289px;
    height: 51px;
    background: $inverse-color;
    border-radius: 20px;
    font-weight: 800;
    font-size: 22px;
    text-align: center;
    letter-spacing: -0.165px;
    color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
    @extend %btn-clicked;
  }
}

@media (max-width: 1150px) {
  .addExpContent {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

    .gridCont {
      grid-column-start: 1;
    }
  }
}

@media (max-width: 900px) {
  .addExpContent {
    grid-template-columns: repeat(1, 100%);
    grid-gap: 10px;
    justify-items: center;

    .gridCont {
      grid-column-start: 1;
    }

    .gridCont3 {
      display: grid;
      align-content: center;
      justify-items: center;
      .saveBtn {
        grid-row-start: 2;
      }
    }
    padding-bottom: 100px;
  }
}

@media (max-width: 350px) {
}
